﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div>
        <div>
            <div class="nav-social-header">
                <div class="container">
                    @Html.Action("SocialBar", "Navigation")
                </div>
            </div>
            <div class="nav-header">
                <div class="container">
                    @Html.Action("Header", "Navigation")
                </div>
            </div>
            <div class="nav-note-header">
                <div class="container">
                    @Html.Action("NotificationBar", "Navigation")
                </div>
            </div>
        </div>
        
            <div style="@ViewBag.BodyStyle">
                @RenderBody()
            </div>
        <div>
            @Html.Action("Footer","Navigation")
        </div>
    </div>
    @Scripts.Render("~/bundles/main")
    @RenderSection("scripts", required: false)
</body>
</html>
