﻿@using PersonalApp.ViewModels.Facets;
@model  PersonalApp.ViewModels.Facets.FacetVM

<a href="#" class="facet-clear"><p>Clear Filters</p></a>

@for (int b = 0; b < Model.FacetCategorys.Count(); b++)
{
    <div class="facet" data-key="@Model.FacetCategorys[b].Slug">
        <div class="facet-name">
            <h2>@Model.FacetCategorys[b].DisplayName</h2>
            <span class="facet-name-indicator">
                <span class="indicator-active"><i class="fa fa-angle-up"></i></span>
                <span class="indicator-inactive"><i class="fa fa-angle-down"></i></span>
            </span>
            <hr />
        </div>
        <div class="facet-items">
            @for (int i = 0; i < Model.FacetCategorys[b].FacetCategoryOptionsVMs.Count(); i++)
            {
                <div class="facet-item">
                    @FacetCheck(Model.FacetCategorys[b].Slug, Model.FacetCategorys[b].FacetCategoryOptionsVMs[i], false)
                </div>
            }
        </div>
    </div>
}

@helper FacetCheck(string key, FacetCategoryOptionsVM value, bool locked)
{
    <input class="facet-check" @(locked ? "disabled=\"disabled\"" : "")
           type="checkbox"
           @(value.Active ? "checked=\"checked\"" : "")
           value="@value.Slug" id="@($"{key}")" />

    <p for="@($"{key}")">@value.DisplayName</p>
}
