﻿@model PersonalApp.ViewModels.Pager.PagerVM

<div class="row">
    <div class="col-md-12">
        <div class="pager-wrapper">
            @if (Model.TotalPages > 0)
            {
                <ul class="pagination">
                    <li>
                        <a aria-label="Previous" class="@(Model.CurrentPage <= 1 ? "" : "") increment"
                           href="@(Math.Max(1, Model.CurrentPage -1))">
                            <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
                        </a>
                    </li>
                    @if (Model.TotalPages <= 5)
                    {
                        for (int page = 1; page <= Model.TotalPages; page++)
                        {
                            <li>
                                <a class="@(Model.CurrentPage == page ? "disabled" : "") @(page == Model.CurrentPage ? "active" : "")"
                                   href="@(page)">@page</a>
                            </li>
                        }
                    }
                    else
                    {
                        if (Model.CurrentPage == 1 || Model.TotalPages >= 10 && Model.CurrentPage < 5)
                        {
                            for (int page = 1; page <= 5; page++)
                            {
                                <li>
                                    <a class="@(Model.CurrentPage == page ? "disabled" : "") @(page == Model.CurrentPage ? "active" : "")"
                                       href="@(page)">@page</a>
                                </li>
                            }

                            <li>
                                <span class="paging-ellipsis">...</span>
                            </li>
                            <li>
                                <a class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : "") @(Model.TotalPages == Model.CurrentPage ? "active" : "")"
                                   href="@(Model.TotalPages)">@Model.TotalPages</a>
                            </li>
                        }
                        else if (Model.CurrentPage == Model.TotalPages || Model.TotalPages > 10 && Model.CurrentPage > (Model.TotalPages - 4))
                        {
                            <li>
                                <a class="@(1 == Model.TotalPages ? "disabled" : "") @(1 == Model.CurrentPage ? "active" : "")"
                                   href="@(1)">1</a>
                            </li>
                            <li>
                                <span class="paging-ellipsis">...</span>
                            </li>

                            for (int page = (Model.TotalPages - 4); page <= Model.TotalPages; page++)
                            {
                                <li>
                                    <a class="@(Model.CurrentPage == page ? "disabled" : "") @(page == Model.CurrentPage ? "active" : "")"
                                       href="@(page)">@page</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li>
                                <a class="@(1 == Model.TotalPages ? "disabled" : "") @(1 == Model.CurrentPage ? "active" : "")"
                                   href="@(1)">1</a>
                            </li>
                            <li>
                                <span class="paging-ellipsis">...</span>
                            </li>

                            <li>
                                <a class="@((Model.CurrentPage - 1) == Model.TotalPages ? "disabled" : "") @(Model.TotalPages == (Model.CurrentPage - 1) ? "active" : "")"
                                   href="@(Model.CurrentPage - 1)">@(Model.CurrentPage - 1)</a>
                            </li>

                            <li>
                                <a class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : "") @(Model.TotalPages == Model.CurrentPage ? "active" : "")"
                                   href="@(Model.CurrentPage)">@Model.CurrentPage</a>
                            </li>

                            <li>
                                <a class="@((Model.CurrentPage + 1) == Model.TotalPages ? "disabled" : "") @(Model.TotalPages == (Model.CurrentPage + 1) ? "active" : "")"
                                   href="@(Model.CurrentPage + 1)">@(Model.CurrentPage + 1)</a>
                            </li>

                            <li>
                                <span class="paging-ellipsis">...</span>
                            </li>
                            <li>
                                <a class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : "") @(Model.TotalPages == Model.CurrentPage ? "active" : "")"
                                   href="@(Model.TotalPages)">@Model.TotalPages</a>
                            </li>
                        }
                    }
                    <li>
                        <a aria-label="Next" class="@(Model.CurrentPage >= Model.TotalPages ? "disabled" : "") increment"
                           href="@(Math.Min(Model.TotalPages, Model.CurrentPage + 1))">
                            <span aria-hidden="true"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </li>
                </ul>

            }
        </div>
    </div>
</div>
