﻿

.wrap-designs {
    background: #fff;

.design-desc {
    display: inline-block;
}

.design-dropdown {

    .facet-order-design {
        padding: 5px 10px;
        margin-top: 25px;
    }
}
    .design-item-container {
        p {
            width: 100%;
            text-align: center;
            margin: 10px 0 0 0;
        }

        img {
            width: 100%;
        }


        i {
            color: white;
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 20px;
            opacity: 0.4;
            transition: all 250ms ease-out;
        }

        div {
            width: 100%;
            position: relative;

            &:hover {
                i {
                    color: white;
                    opacity: 1;
                }

                img {
                    color: white;
                }
            }
        }
    }
}
