﻿//remove default margin

body {
    margin: 0px;
    padding: 0px;
}

//Remove default margin.
p{
    margin:0;
}

.nav-header {
    background: #212F3D;
}
.nav-note-header {
    background: #7B7D7D;
}
.nav-social-header {
    background: #d3d9df;
}
//generic site stylting - black to white
.btn-main-black {
    text-align: center;
    width: 250px;
    display: block;
    margin: auto;
    text-decoration: none !important;


    .work-button {
        margin: 20px 0 20px 0;
        background: #000;
        color: #fff;
        border: 3px solid #FFF;


        p {
            margin: 0;
            padding: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }

        &:hover {
            color: #000;
            background: #f5f5f5;
            border: 3px solid #000;
            transition: all 1000ms linear;
        }
    }
}
//generic site stylting - black to white
.btn-main-white {
    width: 250px;
    display: block;
    margin: auto;
    text-decoration: none !important;


    .work-button {
        border: 3px solid #000;
        margin: 20px 0 20px 0;
        background: #f5f5f5;
        color: #000;

        p {
            margin: 0;
            padding: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }

        &:hover {
            color: #fff;
            background: #000;
            border: 3px solid #000;
            transition: all 1000ms linear;
        }
    }
}

//titles used for home page blocks
.block-title {
    @extend .text-center;
    font-family: Arial;
    font-size: 25px;
    margin: 10px 0 10px 0;
}
.block-text {
    @extend .text-center;
    font-size:20px;
}