﻿@import "_notificationbar.scss";
@import "_socialbar.scss";

#primary-nav {
    //container background
    background: #212f3d;
    
    //logo
    .logo-container {
        padding: 10px;
        text-align: center;

        img {
            width: 200px;
            padding: 10px;

        }
    }

    //main navagation
    .primary-nav-menu {
        width: 100%;
        height: 100%;

        p {
            text-align: center;
            display: inline-block;
            margin: 0px;
            padding: 30px;
            float: right;
        }

        .primary-nav-main {
            list-style: none;
            margin-bottom: 0;
            margin: auto;
            font-size: 15px;
            font-family: Arial,Helvetica,sans-serif;
            padding: 15px;
            font-size: 20px;
            text-align: center;

            /*@media (min-width: $screen-xxxs-max ) and (max-width: $screen-sm-max) {
                padding: 0px 0px 10px 0;
            }*/
            //menu items
            li {
                border-bottom: 2px solid transparent;
                position: relative;
                text-decoration: none;
                display: inline-block;
                list-style: none;
            }
            //menu link
            a {
                padding: 10px;
                text-decoration: none;
                color: #fff;
                display: block;
                width: 100%;
                height: 100%;
            }
            //menu effect
            .menu-item {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    border-bottom: 2px solid #d3d9df;
                    left: 50%;
                    right: 50%;
                    transition: all 0.5s ease;
                }

                &:hover::after {
                    left: 0;
                    right: 0;
                    transition: all 0.5s ease;
                }
            }
        }
    }
}
