﻿
#NotificationBar {
    text-align: center;
    background: #7B7D7D;
    color: #fff;
    //all text
    p {
        margin: 0;
        font-size: 15px;
        padding: 10px 0px 10px 0px;
        display: inline-flex;
    }

    .bar-info {
        cursor: pointer;

        &:hover {
            .info-count {
                animation: socialbounce 1s;
                background: red;
                border: 1px solid red;
                border-radius: 100%;
                transition: all 1000ms linear;
            }
        }
    }

    .info-count {
        border: 1px solid #CB4335;
        background: #CB4335;
        border-radius: 100%;
        padding: 1px 5.5px 0px 5px;
        text-align: center;
        margin: 0;
        color: white;
        font-size: 10px;
        vertical-align: top;
        margin-top: 6px;
    }

    @keyframes socialbounce {
        0%, 20%, 60%, 100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        40% {
            -webkit-transform: t,ranslateY(-5px);
            transform: translateY(-5px);
        }

        80% {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
        }
    }


    .bar-left {
        text-align: right;

        div {
            display: inline-flex;
            color: #ff6a00;
        }
    }
}
