﻿
#SocialBar {
    text-align: center;
    background: #d3d9df;
    color: #212f3d;
    font-size: 20px;

    p {
        margin: 0;
        padding: 5px 0 5px 0px;
        transition: transform .2s;

        + p {
            margin-left: 20px;
        }

        a {
            color: #212f3d;
        }

        &:hover {
            text-align: center;
            transform: scale(1.5);
        }
    }

    .bar-left {
        text-align: right;

        div {
            display: inline-flex;
        }
    }
}
