﻿.facets {
    margin: 10px 0px;

    .facet-clear {
        text-decoration: none;

        p {
            padding: 10px;
            text-align: center;
            background: #212f3d;
            color: white;
            font-size: 15px;
            font-weight: 200;
        }
    }

    .facet {
        margin-top: 20px;

        .facet-name {
            display: inline-block;
            width: 100%;
            cursor: pointer;

            h2 {
                display: inline-block;
                font-size: 20px;
                margin: 0px 0px 10px 10px;
                padding: 0;
            }

            hr {
                padding: 0;
                margin: 0px;
            }


        }

        .facet-items {
            margin-left: 2px;

            .facet-item {
                margin-left: 10px;

                p {
                    display: inline-block;
                }
            }
        }
            .facet-name-indicator {
                display: inline-block;
                float: right;
                margin-top: -5px;
                margin-right: 10px;
                font-size: 20px;
                vertical-align: middle;

                .indicator-active {
                    display: none;
                }

                .indicator-inactive {
                    display: inline-block;
                }
            }
        &.active {


            .indicator-active {
                display: inline-block;
            }

            .indicator-inactive {
                display: none;
            }
        }
    }
}

.faceted-list {
    .description {
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }

    .description-hr{
            margin:20px 0 10px 0px;
        }

    .facet-options {
        margin-bottom: 10px;

        .facet-order {
            margin-top: 6%;
            margin-left: 9%;
            padding: 5px 10px;
        }
    }
}
