﻿.pager-wrapper {
    float: right !important;
    margin-right: 9%;



    .pagination {
        width: 100%;
        border: none;
        background: none;
        text-decoration: none;
        display:block;

        li {

            a {
                color: #000;
                border: none;
                background: none;
                margin-bottom: 4px;
                padding: 10px 10px;
                padding: 0px 13px;
                margin-left: 5px;
                line-height: 2.428571;

                &:hover {
                    border-radius: 50%;
                    background-color: #d3d9df;
                    color: #000;
                }
            }
        }



        .active {
            color: #FFF;
            border-radius: 50%;
            background-color: #34495e;
        }
    }
}
