﻿
.home-wrap {
    background-color: #f5f5f5;

    .wrap-tutorials {
        background-color: #FFF;
        //carousel
        #home-tutorials {
            text-decoration: none;
            margin: 50px 0px;
        }
    }
    //override button colour
    .slick-prev {
        color: #000 !important;

        &:before {
            color: #000;
        }
    }
}

.tutorial-list-item {
    width: 100%;
    color: black;

    hr {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;

        &:focus {
            outline: none;
        }
    }

    .image {
        display: inline-block;

        img {
            width: 200px;
        }
    }

    .information {
        color: #000;
        height: 100%;
        padding: 0 50px 0 20px;
        display: inline-block;

        .tags {
            padding: 3px 15px 5px 10px;
            position: absolute;
            top: 40px;
            right: 0;

            p {
                margin: 0;
                padding: 2px 5px 0px 10px;
                background: #ff0;
                border-bottom-left-radius: 30px;
                border-top-left-radius: 30px;
                text-align: center;
                color: #000;
            }

            .tag {
                display: inline-block;

                + .tag {
                    margin-top: 5px;
                }
            }
        }

        .subject {
            position: absolute;
            top: 0px;
            right: 0px;
            color: black;
            background: #fff;
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;

            p {
                margin: 0;
                margin-left: 10px;
                padding: 10px;
            }
        }

        .title {
            font-size: 30px;
            font-weight: bold;
        }

        .date {
            margin-top: -5px;
            font-size: 15px;
            font-style: italic;
        }

        .extract {
            margin: 10px 0px;
            font-size: 10px;
            font-size: 15px;
            width: 100%;
        }

        .see-more {
            font-size: 15px;
            vertical-align: middle;
        }
    }

    .fa-arrow-right {
        transition: transform .3s ease-out;
        display: inline-block;
    }

    &:hover {
        opacity: 0.8;

        .fa-arrow-right {
            transform: translate(5px, 0px);
        }
    }
}

.tutorial-featured {

    .tutorial-style {
        width: 300px;
        margin: auto;

        a {
            width: 100%;
            height: 100%;
            text-decoration: none;

            &:focus {
                outline: none;
            }
        }

        .image {
            img {
                width: 300px;
            }
        }

        .information {
            color: #000;
            display: inline-block;
            position: relative;
            width: 100%;
            padding: 5px;

            .date {
                font-style: italic;
            }

            .see-more {
                text-align: center;
            }

            .title {
                font-size: 20px;
            }

            .subject {
                display: none;
            }

            .tags {
                display: none;
            }

            .extract {
                display: none;
            }
        }

        .fa-arrow-right {
            font-size: 15px;
            transition: transform .3s ease-out;
            display: inline-block;
            vertical-align: middle;
        }

        &:hover {
            opacity: 0.8;

            .fa-arrow-right {
                transform: translate(5px, 0px);
            }
        }

        hr {
            display: none;
        }
    }
}

//carousel item
/*.tutorial-item {
    .tutorial-item-wrapper {
        width: 90%;
        margin: auto;

        
        .info {
            margin: auto;
            position: relative;

            .tutorial-type {
                position: absolute;
                top: 20px;
                right: 0;
                color: black;
                background: #fff;
                border-bottom-left-radius: 30px;
                border-top-left-radius: 30px;

                p {
                    margin: 0;
                    margin-left: 10px;
                    padding: 10px;
                }
            }
        }
        //on hover of the tutorial move the arrow right
        .fa-arrow-right {
            font-size: 15px;
            transition: transform .3s ease-out;
            display: inline-block;
            vertical-align: middle;
        }

        &:hover {
            opacity: 0.8;

            .fa-arrow-right {
                transform: translate(5px, 0px);
            }
        }
    }
    //full wide image
    img {
        height: 250px;
        width: 100%;
    }
    //info style
    .tutorial-info {
        color: #fff;
        background: #34495E;
        margin: auto;
        text-align: left;
        //border-bottom-left-radius: 15px;
        //border-bottom-right-radius: 15px;
        .tutorial-see-more {
            text-align: center;
            padding: 10px;

            i {
                vertical-align: middle;
                margin-left: 10px;
            }

            img {
                width: 20px;
            }
        }

        .info-date {
            text-align: left;
            padding: 10px 0px 0px 10px;
            font-size: 15px;
            color: #fff;
            display: inline-block;
        }

        .info-tag {
            display: inline-block;
            padding: 3px 10px 3px 10px;
            margin: auto;

            p {
                margin: 0;
                padding: 2px 5px 0px 5px;
                background: #ff0;
                border-radius: 10px;
                text-align: center;
                color: #000;
            }

            .tag-circle {
                display: inline-block;

                + .tag-circle {
                    margin-left: 5px;
                }
            }
        }

        .info-title {
            padding: 0 0 0 10px;
            font-size: 20px;
            font-weight: bold;
        }

        hr {
            margin: 5px;
            padding: 0px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-style: solid;
            border-width: 1px;
            border-color: #fff;
        }
    }
}*/


