﻿#footer {
    .enquiry-form {
        background-color: #f5f5f5;
        padding: 10px;

        .enquiry {
            float: right;
        }

        p {
            display: inline-block;
            margin-right: 10px;
        }

        form {
            display: inline-block;

            #UserEmail {
                padding: 5px 10px;
            }
        }
    }

    .footer-menu {
        background: #212f3d;
        padding: 10px;

        p {
            color: white;
            font-weight: bold;
        }

        .footer-category {
            .footer-items {
                margin: 2px 0px;

                .footer-item {
                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .footer-social {
        background: #d3d9df;
    }
}
