﻿

#home-work {
    text-align: center;

    .work-title {
        font-size: 20px;
        font-weight: bold;
    }

    
    .work-item {
        display: inline-block;
        text-align: center;
        width: 200px;
        margin: auto;



        .work-item-inner {
            width: 100px;
            margin: auto;

            img {
                width: 100px;
            }
        }

        + .previous-work-item {
            margin-left: 30px;
            text-align: center;
        }
    }
}
