﻿.tutorial-article {
    .title {
        p {
            margin: 10px 0;
            font-size: 30px;
            padding: 0;
            line-height: 1;
        }
    }

    hr {
        margin: 5px 0px;
    }
}
