﻿@model PersonalApp.ViewModels.Tutorial.TutorialArticleVM
<div class="container">
    <div class="row margin-top-20">
        <div class="col-md-8">
            <div class="tutorial-article">
                <div class="title">
                    <p>@Html.DisplayFor(x => x.Tutorial.Title)</p>
                </div>
                <hr class="title-break">
                <div class="content">
                    @Html.Raw(Model.Tutorial.Content)
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @foreach (var aside in Model.Aside)
            {
                @Html.Partial("~/Views/Tutorial/_TutorialRelated.cshtml", aside);
            }
        </div>
    </div>
</div>