﻿@model  PersonalApp.ViewModels.Tutorial.TutorialVM
    <div class="tutorial-style">
        <a href="/tutorial/@Model.Id">
            <div class="image">
                <img src="~/Content/images/tutorials/@Model.Image.Path" alt="@Model.Image.Alt" />
            </div>

            <div class="information">
                @{
                    // A subject is the image hashtag line
                    var subjectColour = Model.Subject.fontColour.HEX;
                    var subjectBack = Model.Subject.backgroundColour.HEX;
                    var subjectStyle = $"background-color:{subjectBack};color:{subjectColour};";
                }
                <div class="subject" style="@subjectStyle">
                    <p>@Model.Subject.Name</p>
                </div>
                <div class="tags row">
                    @if (Model.Tags != null && Model.Tags.Count() > 0)
                    {
                        foreach (var tag in Model.Tags)
                        {
                            // each tag has a colour and text colour
                            var textColour = tag.fontColour.HEX;
                            var backgroundColour = tag.backgroundColour.HEX;
                            var style = $"background-color:{backgroundColour};color:{textColour};";

                            <div class="tag">
                                <p style="@style">@tag.Title</p>
                            </div>
                        }
                    }
                </div>
                <div class="title">
                    @Model.Title
                </div>
                <div class="date">
                    Posted @Model.Published.ToString("dddd, dd MMMM yyyy")
                </div>
                <div class="extract">
                    @Html.Raw(Model.Extract)
                </div>

                <div class="see-more">
                    Learn More <i class="fa fa-arrow-right"></i>
                </div>
            </div>
        </a>
        <hr>
    </div>
