﻿@model  PersonalApp.ViewModels.PageVM.TutorialPageVM
<div class="row description">
    <div class="col-md-12">
        <h1>Tutorial List</h1>
        <p>Browse our massive selection of educational tutorials, find somthing for every developer!</p>
    </div>
</div>
<div class="row">
    <div class="facet-options">
        <div class="col-md-6 col-xs-12">
            @Html.EnumDropDownListFor(x => x.Order, new { @class = "facet-order", id = "facet-order" })
        </div>
        <div class="col-md-6 col-xs-12">
            @Html.Partial("~/Views/Facets/_Pager.cshtml", Model.Pager)
        </div>
    </div>
</div>
<hr class="description-hr" />
<div class="row">
    @foreach (var tutorial in Model.Tutorials)
    {
        <div class="col-md-12 margin-bottom-10">
            <div class="row">
                <div class="tutorial-list-item">
                    @Html.Partial("_TutorialItem", tutorial)
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-offset-6 col-md-6">
        @Html.Partial("~/Views/Facets/_Pager.cshtml", Model.Pager)
    </div>
</div>
