﻿@model PersonalApp.ViewModels.Tutorial.TutorialArticleAsideVM


<div id="related-tutorials">

    @switch (Model.TutorialArticalAsideType)
    {
        case PersonalApp.Core.Enums.TutorialTypeEnum.series:
            <h3>Series</h3>
            break;
        case PersonalApp.Core.Enums.TutorialTypeEnum.similar:
            <h3>Related</h3>
            break;
    }


    <div class="standard-carousel">
    @foreach (var item in Model.RealatedTutorials)
    {
        <div class="col-md-12 margin-bottom-10">
        <div class="row">
            <div class="tutorial-featured">
                @Html.Partial("~/Views/Tutorial/_TutorialItem.cshtml", item)
            </div>
        </div>
    </div>
}
    </div>
    </div>
