﻿@model  PersonalApp.ViewModels.PageVM.TutorialPageVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(x => x.Type)

<div class="container">
    <div class="margin-top-20 margin-bottom-20">
        <div class="row">

            <div class="facets col-md-3">
                <div class="facet-normal">
                    @Html.Partial("~/Views/Facets/_facets.cshtml", Model.Facet)
                </div>
            </div>

            <div class="faceted-list col-md-9">
                @Html.Partial("_TutorialList", Model)
            </div>
        </div>
    </div>
</div>