﻿@model  PersonalApp.ViewModels.Home.HomeVM

@{
    ViewBag.Title = "Home Page";
    ViewBag.BodyStyle = "background-color:#f5f5f5;";
}

<div class="home-wrap margin-top-10">
    <div class="wrap-tutorials">
        <div class="container">
            @if (Model.Tutorials != null && Model.Tutorials.Count() > 0)
            {
                //Tutorials Carousel
                <div id="home-tutorials">
                    <h2 class="block-title">Learn more with some simple tutorials</h2>
                    <p class="block-text">We have various free lessons on a range of subjects, go on, learn somthing new.</p>
                    <div class="home-tutorial-carousel tutorial-list margin-top-20 margin-bottom-20">
                        @foreach (var tutorial in Model.Tutorials)
                        {
                            <div class="tutorial-featured">
                                @Html.Partial("~/Views/Tutorial/_TutorialItem.cshtml", tutorial)
                            </div>
                        }
                    </div>
                    <a class="btn-main-black" href="/tutorial/page/1">
                        <div class="work-button">
                            <p>Browse Tutorials</p>

                        </div>
                    </a>
                </div>
            }

        </div>
    </div>
    <div class="wrap-work">
        <div class="container margin-top-50 margin-bottom-50">
            <div class="margin-top-50 margin-bottom-50">
                <p class="block-title">How can we help you?</p>
                <p class="block-text">Checkout out some of the work we've done to make our clients happy.</p>
                @if (Model.Work != null && Model.Work.Count() > 0)
                {
                    //Brands Work
                    <div id="home-work" class="margin-top-30 margin-bottom-50">
                        <div class="home-work-carousel">
                            @foreach (var item in Model.Work)
                            {
                                if (item.Active)
                                {
                                    <div class="work-item">
                                        <div class="work-item-inner">
                                            <div><img src="\Content\images\brands\@item.Path" alt="@item.Alt" /></div>
                                            <div>@item.Title</div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <a class="btn-main-white" href="#">
                            <div class="work-button">
                                <p>Browse Work</p>

                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="wrap-designs">
        <div class="container">
            <div class="margin-top-50 margin-bottom-50">
                <div class="row">
                    <p class="block-title">We love to design</p>
                    <p class="block-text">See our range of photography, phone case designs and more.</p>
                    @foreach (var item in Model.Designs)
                    {
                        if (item.Active)
                        {
                            <div class="col-md-3 col-sm-6 col-xs-6 padding-20">
                                <div class="design-item-container">
                                    <div>
                                        <a href="\Content\images\designs\@item.Path" download="@item.Path">
                                            <i class="fas fa-download"></i>
                                            <img src="\Content\images\designs\@item.Path" alt="@item.Alt" />
                                        </a>
                                    </div>
                                    <p>@item.Title</p>
                                </div>

                            </div>

                        }
                    }

                </div>
                <a class="btn-main-black" href="#">
                    <div class="work-button">
                        <p>See More Designs</p>

                    </div>
                </a>
            </div>
        </div>
    </div>
</div>