﻿@model  PersonalApp.ViewModels.Image.ImageVM

@{
    ViewBag.Title = "_DesignModel";
}

<div class="col-md-3 col-sm-6 col-xs-6 padding-20">
    <div class="design-Model-container">
        <div>
            <a href="\Content\images\designs\@Model.Path" download="@Model.Path">
                <i class="fas fa-download"></i>
                <img src="\Content\images\designs\@Model.Path" alt="@Model.Alt" />
            </a>
        </div>
        <p>@Model.Title</p>
    </div>
</div>
