﻿@model  PersonalApp.ViewModels.Design.DesignPageVM

@Html.HiddenFor(x => x.Type);
<div class="row">
    <div class="col-md-12">
        <div class="design-title">
            <h1>Designs</h1>

        </div>
        <div class="design-desc">
            <p>All our designs are free, please checkout the donate option in the footer if your feeling nice.</p>
        </div>

        <div class="design-dropdown">
            <div class="row">
                <div class="col-md-6">
                    @Html.EnumDropDownListFor(x => x.Order, new { @class = "facet-order-design", id = "facet-order" })
                </div>
                <div class="col-md-6">
                    @Html.Partial("~/Views/Facets/_Pager.cshtml", Model.Pager)
                </div>

            </div>
        </div>
        <hr class="description-hr">
    </div>
</div>
<hr class="description-hr" />
<div class="row">
    @foreach (var item in Model.FacetItems)
    {
        if (item.Active)
        {
            @Html.Partial("~/Views/Design/_DesignItem.cshtml", item)
        }
    }
</div>
<div class="row">
    <div class="col-md-offset-6 col-md-6">
        @Html.Partial("~/Views/Facets/_Pager.cshtml", Model.Pager)
    </div>
</div>