﻿
@model  PersonalApp.ViewModels.Design.DesignPageVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.HiddenFor(x => x.Type);

<div class="container">
    <div class="margin-top-20 margin-bottom-20">
        <div class="row">
            <div class="faceted-list col-md-9">
                @Html.Partial("_DesignList", Model)
            </div>
        </div>
    </div>
</div>

