﻿/// <reference path="../base/_variables.scss" />

/*#region Class Generation*/
@mixin generateClass($class, $prefix, $size, $extension: 'px') {
    .#{$class}-#{$size} {
        #{$prefix}: 1 * $size#{$extension};
    }
}

@mixin generateResponsiveClass($class, $prefix, $value) {
    //default
    .#{$class} {
        #{$prefix}: #{$value};
    }
    //xs
    @media (max-width: $screen-xs-max) {
        .#{$class}-xs {
            #{$prefix}: #{$value};
        }
    }
    //sm
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        .#{$class}-sm {
            #{$prefix}: #{$value};
        }
    }
    //md
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        .#{$class}-md {
            #{$prefix}: #{$value};
        }
    }
    //lg
    @media (min-width: $screen-lg-min) {
        .#{$class}-lg {
            #{$prefix}: #{$value};
        }
    }
}
/*#endregion*/

/*#region Box Shadow*/
/* Shadows */
@mixin boxshadow($horiz, $vert, $blur, $color) {
    box-shadow: $horiz $vert $blur $color;
}

@mixin innershadow($horiz, $vert, $blur, $color) {
    box-shadow: inset $horiz $vert $blur $color;
}
/*#endregion*/

/*#region Form Elements*/
@mixin btn($class, $bgColor, $fontColor: #ffffff, $color-solid: true) {
    .btn#{if($color-solid, '-solid','')}-#{$class} {
        border: none !important;
        color: $fontColor;
        background: $bgColor;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        background-size: 100%;
        outline: none;
        -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        @include transition(ease-out, 150ms);
        /*@if($color-solid == false) {
            background-image: linear-gradient(-180deg, lighten($bgColor, 10%) 1%, darken($bgColor, 10%) 100%);
        }*/
        &:hover, &:active, &:focus {
            color: $fontColor !important;
            outline: none;
            background: darken($bgColor, 5%) !important;
            -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.5);
        }

        &.no-text-transform {
            text-transform: initial;
        }
    }
}

@mixin link($class, $fontColor) {
    .link-#{$class} {
        color: $fontColor;
        text-decoration: none;
        border: none;
        background: none;
        outline: none;
        padding: 0;
        @include transition(ease-out, 250ms);

        &:hover {
            color: darken($fontColor, 30%);
            text-decoration: none;
        }

        &:focus, &:active {
            color: $fontColor;
            text-decoration: none;
        }
    }
}

@mixin activity-ripple($name, $size-as-perc, $colour, $speed, $delay) {

    $multiplier: $size-as-perc / 100;

    $core-dimension: 64 * $multiplier;
    $zero-percent-dimension: 28 * $multiplier;
    $hundred-percent-dimension: 58 * $multiplier;

    .#{$name} {
        position: relative;
        width: #{$core-dimension}px;
        height: #{$core-dimension}px;

        div {
            position: absolute;
            border: 4px solid $colour;
            opacity: 1;
            border-radius: 50%;
            animation: #{$name} #{$speed}s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        }

        div:nth-child(2) {
            animation-delay: -#{$delay}s;
        }
    }

    @keyframes #{$name} {
        0% {
            top: #{$zero-percent-dimension}px;
            left: #{$zero-percent-dimension}px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: -1px;
            left: -1px;
            width: #{$hundred-percent-dimension}px;
            height: #{$hundred-percent-dimension}px;
            opacity: 0;
        }
    }

    @keyframes delayedShow {
        to {
            visibility: visible;
        }
    }

    .delayedShow {
        visibility: hidden;
        animation: 0s linear 1.0s forwards delayedShow;
    }
}
/*#endregion*/

/*#region Transitions*/
@mixin transition($effect, $duration) {
    transition: $effect $duration;
    -moz-transition: $effect $duration;
    -o-transition: $effect $duration;
    -webkit-transition: $effect $duration;
}

@mixin transition-with-prefix($property, $duration: 0.2s, $timing: linear) {
    -webkit-transition: -webkit-#{$property} $duration $timing;
    -moz-transition: -moz-#{$property} $duration $timing;
    -ie-transition: -moz-#{$property} $duration $timing;
    -o-transition: -o-#{$property} $duration $timing;
    transition: $property $duration $timing;
}
/*#endregion*/

/*#region Color*/
@mixin gradient($start-color, $end-color, $orientation) {
    background: $start-color;

    @if $orientation == 'vertical' {
        background: -webkit-linear-gradient(top, $start-color, $end-color);
        background: linear-gradient(to bottom, $start-color, $end-color);
    }
    @else if $orientation == 'horizontal' {
        background: -webkit-linear-gradient(left, $start-color, $end-color);
        background: linear-gradient(to right, $start-color, $end-color);
    }
    @else {
        background: -webkit-radial-gradient(center, ellipse cover, $start-color, $end-color);
        background: radial-gradient(ellipse at center, $start-color, $end-color);
    }
}
/*#endregion*/

/*#region Animation*/
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-ms-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

/*#endregion*/

/*#region Center*/
@mixin centralise {
    position: relative;
}

@mixin horizontal-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin vertical-center {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin centrilize {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*#endregion*/

/*#region Font*/
@mixin font-face($name, $file) {
    @font-face {
        font-family: "#{$name}";
        src: url("../fonts/#{$file}.eot");
        src: url("../fonts/#{$file}.eot?#iefix") format("embedded-opentype"), url("../fonts/#{$file}.woff") format("woff"), url("../fonts/#{$file}.ttf") format("truetype"), url("../fonts/#{$file}.svg?#webfont") format("svg");
    }
}
/*#endregion*/

/*#region Image*/
@mixin retina-image($image, $width, $height) {
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        background-image: url($image);
        background-size: $width $height;
    }
}
/*#endregion*/
