﻿/// <reference path="../base/_variables.scss" />
/// <reference path="../base/_mixins.scss" />


/*#region Margin & Padding*/

.margin-centre {
    @include centralise;
}

//default
@for $i from 0 through 20 {
    @include generateClass(margin, margin, $i*5);
    @include generateClass(margin-left, margin-left, $i*5);
    @include generateClass(margin-top, margin-top, $i*5);
    @include generateClass(margin-bottom, margin-bottom, $i*5);
    @include generateClass(margin-right, margin-right, $i*5);
}

@for $i from 0 through 20 {
    @include generateClass(padding, padding, $i*5);
    @include generateClass(padding-left, padding-left, $i*5);
    @include generateClass(padding-top, padding-top, $i*5);
    @include generateClass(padding-bottom, padding-bottom, $i*5);
    @include generateClass(padding-right, padding-right, $i*5);
}

//xs
@media (max-width: $screen-xs-max) {
    @for $i from 0 through 20 {
        @include generateClass(margin-xs, margin, $i*5);
        @include generateClass(margin-xs-left, margin-left, $i*5);
        @include generateClass(margin-xs-top, margin-top, $i*5);
        @include generateClass(margin-xs-bottom, margin-bottom, $i*5);
        @include generateClass(margin-xs-right, margin-right, $i*5);
    }

    @for $i from 0 through 20 {
        @include generateClass(padding-xs, padding, $i*5);
        @include generateClass(padding-xs-left, padding-left, $i*5);
        @include generateClass(padding-xs-top, padding-top, $i*5);
        @include generateClass(padding-xs-bottom, padding-bottom, $i*5);
        @include generateClass(padding-xs-right, padding-right, $i*5);
    }
}

//sm
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @for $i from 0 through 20 {
        @include generateClass(margin-sm, margin, $i*5);
        @include generateClass(margin-sm-left, margin-left, $i*5);
        @include generateClass(margin-sm-top, margin-top, $i*5);
        @include generateClass(margin-sm-bottom, margin-bottom, $i*5);
        @include generateClass(margin-sm-right, margin-right, $i*5);
    }

    @for $i from 0 through 20 {
        @include generateClass(padding-sm, padding, $i*5);
        @include generateClass(padding-sm-left, padding-left, $i*5);
        @include generateClass(padding-sm-top, padding-top, $i*5);
        @include generateClass(padding-sm-bottom, padding-bottom, $i*5);
        @include generateClass(padding-sm-right, padding-right, $i*5);
    }
}

//md
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @for $i from 0 through 20 {
        @include generateClass(margin-md, margin, $i*5);
        @include generateClass(margin-md-left, margin-left, $i*5);
        @include generateClass(margin-md-top, margin-top, $i*5);
        @include generateClass(margin-md-bottom, margin-bottom, $i*5);
        @include generateClass(margin-md-right, margin-right, $i*5);
    }

    @for $i from 0 through 20 {
        @include generateClass(padding-md, padding, $i*5);
        @include generateClass(padding-md-left, padding-left, $i*5);
        @include generateClass(padding-md-top, padding-top, $i*5);
        @include generateClass(padding-md-bottom, padding-bottom, $i*5);
        @include generateClass(padding-md-right, padding-right, $i*5);
    }
}

//lg
@media (min-width: $screen-lg-min) {
    @for $i from 0 through 20 {
        @include generateClass(margin-lg, margin, $i*5);
        @include generateClass(margin-lg-left, margin-left, $i*5);
        @include generateClass(margin-lg-top, margin-top, $i*5);
        @include generateClass(margin-lg-bottom, margin-bottom, $i*5);
        @include generateClass(margin-lg-right, margin-right, $i*5);
    }

    @for $i from 0 through 20 {
        @include generateClass(padding-lg, padding, $i*5);
        @include generateClass(padding-lg-left, padding-left, $i*5);
        @include generateClass(padding-lg-top, padding-top, $i*5);
        @include generateClass(padding-lg-bottom, padding-bottom, $i*5);
        @include generateClass(padding-lg-right, padding-right, $i*5);
    }
}

/*#endregion*/

/*#region Position*/
@include generateResponsiveClass('position-relative','position','relative');
@include generateResponsiveClass('position-absolute','position','absolute');

@include generateResponsiveClass('text-center','text-align','center');
@include generateResponsiveClass('text-right','text-align','right');
@include generateResponsiveClass('text-left','text-align','left');

@include generateResponsiveClass('text-top','vertical-align','top');
@include generateResponsiveClass('text-middle','vertical-align','middle');
@include generateResponsiveClass('text-bottom','vertical-align','bottom');

//default
@for $i from 0 through 50 {
    @include generateClass(top, top, $i);
    @include generateClass(right, right, $i);
    @include generateClass(bottom, bottom, $i);
    @include generateClass(left, left, $i);
}

//xs
@media (max-width: $screen-xs-max) {
    @for $i from 0 through 50 {
        @include generateClass(top-xs, top, $i);
        @include generateClass(right-xs, right, $i);
        @include generateClass(bottom-xs, bottom, $i);
        @include generateClass(left-xs, left, $i);
    }
}

//sm
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @for $i from 0 through 50 {
        @include generateClass(top-sm, top, $i);
        @include generateClass(right-sm, right, $i);
        @include generateClass(bottom-sm, bottom, $i);
        @include generateClass(left-sm, left, $i);
    }
}

//md
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @for $i from 0 through 50 {
        @include generateClass(top-md, top, $i);
        @include generateClass(right-md, right, $i);
        @include generateClass(bottom-md, bottom, $i);
        @include generateClass(left-md, left, $i);
    }
}

//lg
@media (min-width: $screen-lg-min) {
    @for $i from 0 through 50 {
        @include generateClass(top-lg, top, $i);
        @include generateClass(right-lg, right, $i);
        @include generateClass(bottom-lg, bottom, $i);
        @include generateClass(left-lg, left, $i);
    }
}
/*#endregion*/

/*#region Font*/

.text-shadow {
    text-shadow: 0 0 5px rgba(0,0,0,0.8);
}

@each $name, $value in $colours {
    @include generateClass(bow-shadow-$name,box-shadow, $value,'');
}



// --- Text Wrap --- \\
.text-wrap {
    white-space: normal !important;
}

@include generateResponsiveClass('text-wrap','white-space','nowrap');

@include generateResponsiveClass('no-wrap','white-space','nowrap');

//--- Font Sizes ---\\
//default
@for $i from 0 through 100 {
    @include generateClass(font-size, font-size, $i);
}
// xs
@media (max-width: $screen-xs-max) {
    @for $i from 0 through 100 {
        @include generateClass(font-size-xs, font-size, $i);
    }
}
//sm
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @for $i from 0 through 100 {
        @include generateClass(font-size-sm, font-size, $i);
    }
}
//md
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @for $i from 0 through 100 {
        @include generateClass(font-size-md, font-size, $i);
    }
}
//lg
@media (min-width: $screen-lg-min) {
    @for $i from 0 through 100 {
        @include generateClass(font-size-lg, font-size, $i);
    }
}

@for $i from 1 through 8 {
    @include generateClass(font-weight, font-weight, $i*100,'');
}
/*#endregion*/

/*#region Colour */
@include generateResponsiveClass('bg-none','background','none');

@each $name, $value in $colours {
    @include generateResponsiveClass(#{'color-' + $name},'color',$value);
}

@each $name, $value in $colours {
    @include generateResponsiveClass(#{'bg-' + $name},'background',$value);
}

/*#endregion*/

/*#region Form Elements*/
@each $name, $value in $colours {
    @if($name == 'white' or $name == 'default') {
        @include btn($name, $value, #333333, true);
        @include btn($name, $value, #333333, false);
    }
    @else {
        @include btn($name, $value, #ffffff, true);
        @include btn($name, $value, #ffffff, false);
    }
}

@each $name, $value in $colours {
    @include link($name, $value);
}
/*#endregion*/

/*#region Width & Height*/

@for $i from 5 through 30 {
    @include generateClass(min-width,min-width, $i*10);
    @include generateClass(max-width,max-width, $i*10);
    @include generateClass(width, width, $i*10);
}

@for $i from 5 through 50 {
    @include generateClass(min-height,min-height, $i*10);
    @include generateClass(max-height,max-height, $i*10);
    @include generateClass(height, height, $i*10);
}

@for $i from 5 through 30 {
    @include generateClass(min-width,min-width, $i*10,'%');
    @include generateClass(max-width,max-width, $i*10,'%');
    @include generateClass(width, width, $i*10,'%');
}

@for $i from 5 through 50 {
    @include generateClass(min-height,min-height, $i*10,'%');
    @include generateClass(max-height,max-height, $i*10,'%');
    @include generateClass(height, height, $i*10,'%');
}
/*#endregion*/

/*#region Display*/

//--- Overflow ---\\
.overflow-hidden {
    overflow: hidden;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.overflow-y-auto {
    overflow-y: auto;
}


.display-block {
    display: block;
}

.display-none {
    display: none;
}

.display-inline-block {
    display: inline-block;
}

.display-table {
    display: table;
}

.display-table-cell {
    display: table-cell;
}
/*#endregion*/

/*#region Border*/
.no-border {
    border: none;
}

.no-border-left {
    border-left: none !important;
}

.border-white {
    border-color: $white;
}

@media (max-width: $screen-xs-max) {
    .border-xs-none {
        border: none !important;
    }
}
/*#endregion*/

/*#region Mouse*/
@include generateResponsiveClass(cursor-pointer,cursor,pointer);

/*#endregion*/


