﻿// Screen Resolutions
$screen-xxxs-max: 479px;
$screen-xxs-max: 550px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

// Fonts
$font-path: "/_fonts";
$icon-path: "/content/fonts/icons";
$font-montserrat: 'Montserrat', sans-serif;

// Colours
$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$deep-purple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;
$light-blue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$amber: #FFC107;
$orange: #FF9800;
$deep-orange: #FF5722;
$brown: #795548;
$grey: #9E9E9E;
$blue-grey: #607D8B;
$black: #000000;
$white: #ffffff;

$checkbox-bg: #E9E0C4;
$border-colour: #cccccc;
$checkout-field: #fafafa;
$primary-colour: $pink;
$secondary-colour: $purple;

// Colour Arrays used in mixins
$colours: ( 'primary' $primary-colour, 'secondary' $secondary-colour, 'red' $red, 'pink' $pink, 'purple' $purple, 'deep-purple' $deep-purple, 'cyan' $cyan, 'teal' $teal, 'green' $green, 'light-green' $light-green, 'lime' $lime, 'yellow' $yellow, 'amber' $amber, 'orange' $orange, 'deep-orange' $deep-orange, 'brown' $brown, 'grey' $grey, 'blue-grey' $blue-grey, 'black' $black, 'white' $white )


