﻿@model PersonalApp.ViewModels.Mail.EnquiryVM
        <div class="enquiry">
            <p>Want our latest news, blogs, design additions and more? Sign up here!</p>

            @using (Html.BeginForm("EnquiryForm", "Form", FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.UserEmail, new { placeholder = "Email" })
            }
        </div>