﻿@model  PersonalApp.ViewModels.Menu.MenuVM
    <div class="row">
        @if (Model.MenuCategorys != null)
        {
            foreach (var Category in Model.MenuCategorys)
            {
                <div class="footer-category col-md-2" data-category="@Category.Title">
                    <p>@Html.DisplayFor(x => Category.Title)</p>
                    <div class="footer-items">
                        @foreach (var CategoryItem in Category.CategoryOptions)
                        {
                            <div class="footer-item">
                                <a href="@CategoryItem.Slug">@CategoryItem.Title</a>
                            </div>
                        }

                    </div>
                </div>
            }
        }
    </div>

