﻿@model PersonalApp.ViewModels.PageVM.FooterVM

<div id="footer">
    <div id="enquiry-form" class="enquiry-form">
        <div class="container">
            <div class="row">
                @Html.Partial("~/Views/Forms/_EnquiryForm.cshtml", Model.Enquiry)
            </div>
        </div>
    </div>
    <div id="footer-menu" class="footer-menu">
        <div class="container">
            <div class="row">
                @Html.Partial("_FooterMenu", Model.Menu)
            </div>
        </div>
    </div>
    <div id="footer-social" class="footer-social">
        <div class="container">
            <div class="row">
                @Html.Partial("SocialBar", "Navigation")
            </div>
        </div>
    </div>
</div>
