﻿@model PersonalApp.ViewModels.Menu.MenuVM

<div id="primary-nav">
    <nav>

        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="logo-container">
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/Content/images/Header/logo_v3.png" />
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="primary-nav-menu">
                    @foreach (var category in Model.MenuCategorys)
                    {
                        if (category.Active)
                        {
                            <ul class="primary-nav-main">
                                @foreach (var option in category.CategoryOptions)
                                {
                                    if (option.Active)
                                    {
                                        var selected = (option.Selected) ? "active" : "";

                                        <li><a class="@selected menu-item" href="@option.Slug">@option.Title</a></li>
                                    }
                                }
                            </ul>
                        }
                    }
                </div>
            </div>
        </div>
    </nav>
</div>