﻿@model PersonalApp.ViewModels.NotificationBar.NotificationBarVM

<div id="NotificationBar">
    <div class="row">
        @foreach (var item in Model.NotificationBarItems.Where(x => x.Active).Take(3))
        {
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div  class="bar-info">
                <p>@item.Title</p>
                @if (item.NewCount > 0)
                {
                    <p class="info-count">@item.NewCount</p>
                }
            </div>
        </div>
        }
    </div>

</div>
