﻿
@{
    ViewBag.Title = "_SocialBar";
}

<div id="SocialBar">
    <div class="row">

        <div class="col-xs-12 bar-left">
            <div>

                <p>
                    <a href="https://www.github.com" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </p>

                <p>
                    <a href="https://www.github.com" target="_blank">

                        <i class="fab fa-bitbucket"></i>
                        </a>
                </p>
                <p>
                    <a href="https://www.github.com" target="_blank">

                        <i class="fab fa-stack-overflow"></i>
                    </a>

                </p>
                <p>
                    <a href="https://www.github.com" target="_blank">

                        <i class="fab fa-twitter"></i>
                    </a>

                </p>
                <p>
                    <a href="https://www.github.com" target="_blank">

                        <i class="fab fa-facebook"></i>
                    </a>


                </p>
            </div>
        </div>
    </div>
</div>

